* {
		box-sizing: border-box;
}
.lession{
			border: 1px solid black;
			background: #EEEEEE;
			position: absolute;
			overflow: hidden;
		}
body {

	background: white;
	font-size: 11px;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}
.day {
	border: 1px solid black;
	overflow: hidden;
	/*box-shadow:inset 0px 4px 5px rgba(0, 0, 0, .05);*/
}
.dayheader {
	border: 1px solid black;
}
.lession{

	padding: 3px;
			border: 1px solid black;
			background: white;
			position: absolute;
			overflow: hidden;
			/*box-shadow: 0px 2px 12px rgba(0, 0, 0, .1);*/
			font-size: 9px;
}
.hmarker {
	border: 1px solid rgba(0, 0, 0, .25);
	height: 2px;
}
.day {
	background: #eeeeee;
}


.marker {
	border: 1px solid red;
	height:  1px;
}
.lession {
	box-sizing: border-box;
	padding: 3px;
			border: 1px solid black;
			background: #FFffee;
			position: absolute;
			overflow: hidden;
			/*box-shadow: 0px 2px 12px rgba(0, 0, 0, .05);*/
		}
.day {
	background: rgba(0, 0, 0, .01);
}
.Saturday {
	background: #eeeeff;
}
.Sunday {
	background: #ffeeee;
}