
.container {
	font-size: 11px;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	position: absolute;
	left: 20%;
	top: 10px;
	width: 1024px;

	border-radius: 14px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
	
}
body {
	background: url('../img/bg.png');
}
.menu ul {
	list-style-type: none;
}
.menu li {
	float: left;
	list-style-type: none;
	margin-right: 2px;

}
a {
	text-shadow: none;
}
a:hover {
	text-shadow: underline;
}

.header {
	background: #334455;
	height: 60px;
}
#content {
	padding: 0px;
}
body {
}
input {
	width: auto;
}
.content {
	padding: 20px;
}
